
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
          <li class="nav-link">
              <a routerLink="patients" routerLinkActive="active" class="nav-link">Patient List</a>
          </li>
          <li class="nav-link">
            <a routerLink="patients-add" routerLinkActive="active" class="nav-link">Add Patient</a>
        </li>
        <li class="nav-link">
            <a routerLink="patients-details" routerLinkActive="active" class="nav-link">Patinet Details</a>
        </li>
        <li class="nav-link">
            <a routerLink="doctors" routerLinkActive="active" class="nav-link">Doctor List</a>
        </li>
        <li class="nav-link">
            <a routerLink="doctors-add" routerLinkActive="active" class="nav-link">Doctor Add</a>
        </li>
        <li class="nav-link">
            <a routerLink="doctors-details" routerLinkActive="active" class="nav-link">Doctor Details</a>
        </li>
          </ul>
  </nav>
<div class="container">
<router-outlet></router-outlet>
</div>